.burger {
  width: 28px;
  display: none;
  z-index: 11;
  span {
    transition: 0.2s;
    display: block;
    background: #000;
    height: 2px;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.burger.active {
  span {
    margin-bottom: 0;
    &:first-child {
      transform: rotate(45deg) translateY(1px);
    }
    &:nth-child(2) {
      display: none;
    }
    &:last-child {
      transform: rotate(-45deg) translateY(-1px);
    }
  }
}
