.header-top {
  padding: 15px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-bottom {
  background: #e9e743;
  padding: 18px 0;
}

.header-phone {
  background: url(../icons/phone.svg) left center / contain no-repeat;
  padding-left: 30px;
  color: #000;
  &:hover {
    color: #000;
  }
}
