.services {
  padding: 160px 0 140px;
}

.services-title {
  margin-bottom: 90px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 378px;
  gap: 25px;
}

.services-item {
  padding: 52px 30px 44px;
  border: 1px solid rgba(33, 53, 70, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  // &:nth-child(1) {
  //   grid-column: 1 / 2;
  //   grid-row: 1/2;
  // }
}

.services-item-number {
  position: absolute;
  color: #e5e5e5;
  font-size: 32px;
  right: 29px;
  top: 45px;
}

.services-item-img {
  width: 130px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 52px;
}

.services-item-text {
  font-size: 32px;
  line-height: 0.94;
}
